<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0" />
    <meta name="description" content="View your personal TF2 stats">
    <title>Page Not Found!</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Page Not Found!</h1>
    <h2>The profile you searched for or the page you have navigated to does not exist.</h2>
    <a href="/home">Return home</a>
</body>

</html>