<footer class="footer">
    <p>Made by kna27</p>
    <p>This site is not affiliated with Valve, Steam, or any of their partners</p>
    <p>All images, logos, and fonts belong to their respective owners</p>
    <div id="links">
        <ul>
        <li><a href="mailto:krisharora27@gmail.com?subject=TF2%20Stat%20Viewer">Contact Me</a></li>
        <li><a href="https://github.com/kna27/tf2-stat-viewer">Source Code</a></li>
        <li><a href="https://github.com/kna27/tf2-stat-viewer/issues/new">Suggest a Feature</a></li>
        <li><a href="https://github.com/kna27/tf2-stat-viewer/issues/new">Report a Bug</a></li>
    </ul>
    </div>
</footer>