<footer class="footer">
    <p>Made by kna27</p>
    <p>This site is not affiliated with Valve or its partners</p>
    <p>All images and logos on this site belong to their respective owners</p>
    <div id="links">
        <ul>
        <li><a href="#">Contact Me</a></li>
        <li><a href="#">Source Code</a></li>
        <li><a href="#">Suggest a Feature</a></li>
        <li><a href="#">Report a Bug</a></li>
    </ul>
    </div>
</footer>