<footer class="footer">
    <p>Made by <a href="https://github.com/kna27" target="_blank">kna27</a></p>
    <p>This site is not affiliated with Valve, Steam, or any of their partners</p>
    <p>All images, logos, and fonts belong to their respective owners</p>
    <div id="links">
        <ul>
        <li><a href="mailto:krisharora27@gmail.com?subject=TF2%20Stat%20Viewer" target="_blank">Contact Me</a></li>
        <li><a href="https://github.com/kna27/tf2-stat-viewer" target="_blank">Source Code</a></li>
        <li><a href="https://github.com/kna27/tf2-stat-viewer/issues/new?assignees=kna27&labels=enhancement&template=feature_request.md&title=%5BREQUEST%5D+" target="_blank">Suggest a Feature</a></li>
        <li><a href="https://github.com/kna27/tf2-stat-viewer/issues/new?assignees=kna27&labels=bug&template=bug_report.md&title=%5BBUG%5D+" target="_blank">Report a Bug</a></li>
    </ul>
    </div>
</footer>