<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="View your personal TF2 stats">
    <title>TF2 Stats</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" type="image/png" href="/img/icon.png" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
</head>

<body>
    <div class="content">
        <h1 class="headerText"><a href="/home">TF2 Stat Viewer</a></h1>
        <h2 class="headerText">View your personal TF2 stats</h2>
        <p class="headerText">
            <%= typeof msg !='undefined' ? msg : '' %>
        </p>
        <form>
            <input type="text" id="steamid" name="steamid" placeholder="Enter your Steam name or Steam64 ID">
            <button type="submit" id="submit"
                onclick="window.location = window.origin + '/profile/' + steamid.value; return false;">Submit</button>
        </form>
        <br>
        <div style="display:<%= typeof playerStats == 'undefined' ? 'none' : 'block' %>" id="statsDiv">
            <h1 id="overview"><a href="#overview">Overview</a></h1>
            <h2>Class Playtime</h2>
            <canvas id="playtimeChart" width="600" height="600"></canvas>
            <h2>Collective Statis</h2>
            <div id="numericalStats">
                <div class="numericalStat">
                    <h1 id="numericalStat_Kills"></h1>
                    <h2>Kills</h2>
                </div>
                <div class="numericalStat">
                    <h1 id="numericalStat_KillAssists"></h1>
                    <h2>Kill Assists</h2>
                </div>
                <div class="numericalStat">
                    <h1 id="numericalStat_DamageDealt"></h1>
                    <h2>Damage Dealt</h2>
                </div>
                <div class="numericalStat">
                    <h1 id="numericalStat_Dominations"></h1>
                    <h2>Dominations</h2>
                </div>
                <div class="numericalStat">
                    <h1 id="numericalStat_Revenges"></h1>
                    <h2>Revenges</h2>
                </div>
                <div class="numericalStat">
                    <h1 id="numericalStat_PointsScored"></h1>
                    <h2>Points Scored</h2>
                </div>
            </div>
            <br>
            <h1 id="class_stats"><a href="#class_stats">Class Stats</a></h1>
            <div class="class_icons">
                <img class="class_stat_icon" id="class_stat_Scout" src="/img/class_icons/Scout.png" alt="Scout Icon"
                    draggable="false">
                <img class="class_stat_icon" id="class_stat_Soldier" src="/img/class_icons/Soldier.png"
                    alt="Soldier Icon" draggable="false">
                <img class="class_stat_icon" id="class_stat_Pyro" src="/img/class_icons/Pyro.png" alt="Pyro Icon"
                    draggable="false">
                <img class="class_stat_icon" id="class_stat_Demoman" src="/img/class_icons/Demoman.png"
                    alt="Demoman Icon" draggable="false">
                <img class="class_stat_icon" id="class_stat_Heavy" src="/img/class_icons/Heavy.png" alt="Heavy Icon"
                    draggable="false">
                <img class="class_stat_icon" id="class_stat_Engineer" src="/img/class_icons/Engineer.png"
                    alt="Engineer Icon" draggable="false">
                <img class="class_stat_icon" id="class_stat_Medic" src="/img/class_icons/Medic.png" alt="Medic Icon"
                    draggable="false">
                <img class="class_stat_icon" id="class_stat_Sniper" src="/img/class_icons/Sniper.png" alt="Sniper Icon"
                    draggable="false">
                <img class="class_stat_icon" id="class_stat_Spy" src="/img/class_icons/Spy.png" alt="Spy Icon"
                    draggable="false">
            </div>
            <canvas id="classMaxChart" width="600" height="600" style="display:inline-block"></canvas>
            <canvas id="classAccumChart" width="600" height="600" style="display:inline-block"></canvas>
            <br>
            <h1 id="map_stats"><a href="#map_stats">Map Stats</a></h1>
            <canvas id="mapChart" width="1000" height="750" style="display:inline-block"></canvas>
            <br>
            <h1 id="mvm_stats"><a href="#mvm_stats">MvM Stats</a></h1>
            <h2>Coming soon!</h2>
        </div>
    </div>
    <%- include("footer") %>
</body>
<script>
    window.playerStats = <%- typeof playerStats != 'undefined' ? JSON.stringify(playerStats) : 0 %>;
    window.MAPPREFIXES = ["arena_", "cp_", "ctf_", "koth_", "mvm_", "pass_", "pd_", "pl_", "plr_", "rd_", "sd_", "tc_", "tr_"];
    window.CLASSES = ["Scout", "Soldier", "Pyro", "Demoman", "Heavy", "Engineer", "Medic", "Sniper", "Spy"];
</script>
<script src="/js/overview.js"></script>
<script src="/js/classes.js"></script>
<script src="/js/map.js"></script>
<script src="/js/mvm.js"></script>

</html>