@font-face {
    font-family: "TF2-Heading";
    src: url(fonts/tf2build.ttf);
}

@font-face {
    font-family: "TF2-Secondary";
    src: url(fonts/tf2secondary.ttf);
}

html, body {
    height: 100%;
}

body {
    text-align: center;
    background-image: url("img/background.jpg");
    background-size: 100%;
    background-color: #cccccc;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "TF2-Secondary";
}

h1, h1 a {
    font-size: 3.5em;
    font-family: "TF2-Heading";
    text-decoration: none;
    display: inline-block;
    position: relative;
}

h1 a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 5px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

h1 a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h2 {
    font-size: 1.75em;
}

p {
    font-size: 1.25em;
}

footer {
    flex-shrink: 0;
    padding: 20;
    background-color: rgba(17, 17, 17, 0.8);
    backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 25px;
}

footer a {
    color: white;
}

canvas {
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(17, 17, 17, 0.8);
}

input {
    width: 30%;
    line-height: 32px;
}

button {
    line-height: 32px;
}

input:focus {
    border: 3px solid #555;
}

#mapChart {
    width: 75%;
}

#classMaxChart, #classAccumChart {
    width: 45%;
}

#statsDiv {
    margin: auto;
    width: 85%;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(146, 146, 146, 0.75);
    backdrop-filter: blur(5px);
    display: block;
}

#statsDiv h1 {
    font-size: 2.25em;
}

#links li {
    display: inline;
}

#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

#playtimeChart {
    margin-left: auto;
    margin-right: auto;
}

#nickname {
    font-size: 2em;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.numericalStats {
    display: inline-block;
    padding: 2%;
    width: 90%;
    background-color: rgba(33, 33, 33, 0.5);
    border-radius: 25px;
}

.mvmNumericalStats {
    display: inline-block;
    padding: 2%;
    width: 50%;
    background-color: rgba(33, 33, 33, 0.5);
    border-radius: 25px;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
}

.content a {
    color: white;
    font-size: 1.5em;
}

.class_icons {
    display: inline-block;
    width: 90%;
    background-color: rgba(33, 33, 33, 0.5);
    border-radius: 25px;
}

.class_stat_icon {
    width: 10%;
    display: inline-block;
    transition: transform 150ms;
}

.class_stat_icon:hover {
    transform: scale(1.5);
    display: inline-block;
}

.numericalStat {
    position: relative;
    display: inline-block;
    width: 14em;
    height: auto;
    margin: 2px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

.mvmNumericalStat {
    position: relative;
    display: inline-block;
    width: 18em;
    height: auto;
    margin: 2px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    #statsDiv {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

#msgText {
    display: none;
}

@media (max-width: 900px) {
    input {
        width: 60%;
    }
    #statsDiv {
        width: 100%;
    }
    #msgText {
        display: block;
    }
    .headerText {
        background-color: #555;
    }
}