@font-face {
    font-family: "TF2-Heading";
    src: url(tf2build.ttf);
}

@font-face {
    font-family: "TF2-Secondary";
    src: url(tf2secondary.ttf);
}

html, body {
    height: 100%;
}

body {
    text-align: center;
    background-image: url("background.jpg");
    background-size: 100%;
    background-color: #cccccc;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "TF2-Secondary";
}

h1, h1 a {
    font-size: 3.5em;
    font-family: "TF2-Heading";
    text-decoration: none;
}

h1 a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 1.75em;
}

p {
    font-size: 1.25em;
}

footer {
    flex-shrink: 0;
    padding: 20;
    background-color: rgba(17, 17, 17, 0.8);
    backdrop-filter: blur(5px);
    padding: 5px;
    border-radius: 25px;
}

footer a {
    color: white;
}

canvas {
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(17, 17, 17, 0.8);
}

#mapChart {
    width:75%;
}

#classMaxChart, #classAccumChart {
    width: 45%;
}

input {
    width: 30%;
}

.content {
    flex: 1 0 auto;
    padding: 20px;
}

.content a {
    color: white;
    font-size: 1.5em;
}

#statsDiv {
    margin: auto;
    width: 85%;
    padding: 10px;
    border-radius: 25px;
    background-color: rgba(146, 146, 146, 0.75);
    backdrop-filter: blur(5px);
    display: block;
}

#links li {
    display: inline;
}

#links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    #statsDiv {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}

#numericalStats {
    display: inline-block;
    padding: 2%;
    margin-bottom: 5%;
    width: 90%;
    background-color: rgba(33, 33, 33, 0.5);
    border-radius: 25px;
}

.class_icons {
    display: inline-block;
    width: 90%;
    background-color: rgba(33, 33, 33, 0.5);
    border-radius: 25px;
}

.class_stat_icon {
    width: 10%;
    display: inline-block;
    transition: transform 150ms;
}

.class_stat_icon:hover {
    transform: scale(1.5);
    display: inline-block;
}

.numericalStat {
    float: left;
    position: relative;
    width: 20%;
    height: 0;
    margin: 2px;
    padding-bottom: 20%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.5);
}

#playtimeChart {
    margin-left: auto;
    margin-right: auto;
}